*{
	padding:20px;
}
a{
	text-decoration: none;
}
body{
	background-color: rgb(186, 250, 207);
}
form{
	border: 1px solid green;
	border-radius: 25px;
	border-width: medium;
	background: rgb(236, 252, 241);
	padding: 50px;
	width:500px;
}
button {
  background: rgb(0, 128, 128);
  padding: 20px;
  border: none;
  color: white;
  font-size: 1.5em;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Nanum Gothic';
}
button:hover {
  background: rgb(0, 128, 64);
}
label{
	padding: 30px;
	font-size: 2em;
}
select{
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
div{
	padding:20px;
}
h1{
	font-size: 2.5em;
	font-family: 'Arial';
	padding:10px;
}
#back-button{
	background: rgb(0, 128, 128);
  padding: 20px;
  border: none;
  color: white;
  font-size: 1.5em;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Nanum Gothic';
}
#back-button:hover{
	background: rgb(0, 128, 64);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
#confirm{
	text-align: right;
}